################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Compete/.vs/Compete/v16/Server/sqlite3
/Compete/.vs/Compete/v16
/Compete/Compete/obj/Debug
